<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Add a New Job</title>
</head>
<body>
    <h1>Add a New Job</h1>
    
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            {{ form.title.label_tag }} {{ form.title }} <br>
            {{ form.title.errors }}  <!-- This will render errors with the 'errorlist' class -->
        </p>
        
        <p>
            {{ form.date.label_tag }} {{ form.date }} <br>
            {{ form.date.errors }}  <!-- This will render errors with the 'errorlist' class -->
        </p>
        <a href="#" onclick="this.closest('form').submit(); return false;">Submit Job</a>
    </form>
    
<br><br>
    
    <a href="{% url 'weekly_plan_view' %}">Back to Weekly Job List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'job_list' %}">Back to Unscheduled Job List</a>
</body>
</html>
