<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Edit Job</title>
</head>
<body>
    <h1>Edit Job</h1>
    <!-- Assign the form an ID so it can be referenced in the script -->
    <form method="POST" id="edit-job-form">
        {% csrf_token %}
        {{ form.as_p }}
        
        <p>
            {{ form.title.label_tag }} {{ form.title }} <br>
            {{ form.title.errors }}  <!-- This will render errors with the 'errorlist' class -->
        </p>
        
        <p>
            {{ form.date.label_tag }} {{ form.date }} <br>
            {{ form.date.errors }}  <!-- This will render errors with the 'errorlist' class -->
        </p>
    
        <a href="#" onclick="document.getElementById('edit-job-form').submit(); return false;">Save Changes</a>
    </form>
    
    <br><br>
    
    <a href="{% url 'weekly_plan_view' %}">Back to Weekly Job List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'job_list' %}">Back to Unscheduled Job List</a>
</body>
</html>
