<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Reset All Jobs</title>
</head>
<body>
    <h1>Are you sure you want to reset all jobs?</h1>
    <form method="POST" action="{% url 'reset_jobs' %}" style="display:inline;">
        {% csrf_token %}
        <a href="#" onclick="this.closest('form').submit(); return false;">Yes, Reset All</a><br><br>
    </form>
    <a href="{% url 'weekly_plan_view' %}">Back to Weekly Job List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'job_list' %}">Back to Unscheduled Job List</a><br><br>
    <a href="{% url 'today' %}">View Today's Jobs</a>

</body>
</html>
